<html>
  <title>Comparing Stock Price Predictions of an S&P 500 company using ARIMA
    and LSTM models</title>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1> Stock Prices from Alpha Vantage API </h1>
    <div><img src='{{ graph1 }}'></img></div>
    <h1> ARIMA model predictions </h1>
    <div><img src='{{ graph2 }}'></img></div>
    <h1> LSTM model predictions </h1>
    <p>Training and Test Set Losses</p>
    <div><img src='{{ graph3 }}'></img></div>
    <p>LSTM predictions</p>
    <div><img src='{{ graph4 }}'></img></div>
    <h1> Trading Strategy </h1>
    <p>Generating Trading Signals based on Moving Average Cross Strategy on
    Test Data</p>
    <div><img src='{{ graph5 }}'></img></div>
    <p>Plot of Equity Curve</p>
    <div><img src='{{ graph6 }}'></img></div>

    {% endblock %}
  </body>
  <html>
