<html>
  <title>Comparing Stock Price Predictions of an S&P 500 company using ARIMA
    and LSTM models</title>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1> Stock Prices from Alpha Vantage API </h1>
    <p>  Stock prices are imported from the Alpha Vantage API in the form of
    JSON objects</p>
    <div><img src='{{ graph1 }}'></img></div>
    <h1> ARIMA model predictions </h1>
    <div><img src='{{ graph2 }}'></img></div>
    <h1> LSTM model predictions </h1>
    <div>Training and Test Set Losses</div>
    <div><img src='{{ graph3 }}'></img></div>
    <div>LSTM predictions</div>
    <div><img src='{{ graph4 }}'></img></div>
    <div>Generating Trading Signals based on Moving Average Cross Strategy</div>
    <div><img src='{{ graph5 }}'></img></div>
    <div>Plot of Equity Curve</div>
    <div><img src='{{ graph6 }}'></img></div>

    {% endblock %}
  </body>
  <html>
